* {
	box-sizing: border-box;
}
.divHeader {
	width: 100%;
	background: #28A956;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 25px 20px 80px 20px;
	position: fixed;
	animation: animate2 1s forwards;
}
.divHeaderAnimate {
	animation: animate1 1s forwards;
}
.titleListas {
	color: #fff;
	font-size: 22pt;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	animation: itensHeader2 .5s forwards;
}
.iconHeader {
	color: #fff;
	font-size: 24pt;
	animation: itensHeader2 .3s forwards;
}
.itensHeaderAnimate1 {
	animation: itensHeader1 1s forwards;
}
.listas {
	position: relative;
	top: 80px;
	margin: 0 20px 30px 20px;
}
@keyframes animate1 {
	0% {
		padding: 25px 20px 80px 20px;
		font-size: 22pt;
		color: #fff;
	}
	100% {
		padding: 35px 30px 120px 30px;
		font-size: 16pt;
		color: #28A956;
	}
}
@keyframes animate2 {
	0% {
		padding: 35px 30px 120px 30px;

	}
	100% {
		padding: 25px 20px 80px 20px;

	}
}
@keyframes itensHeader1 {
	0% {
		color: #fff;

	}
	100% {
		color: #28A956;
	}
}
@keyframes itensHeader2 {
	0% {
		color: #28A956;

	}
	100% {
		color: #fff;
	}
}
