@font-face {
	font-family: 'Muli';
	font-style: normal;
	src: url('../fonts/Muli-Regular.ttf');
}
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	src: url('../fonts/WorkSans-Bold.ttf');
}

