* {
	box-sizing: border-box;
}
.divHeader {
	width: 100%;
	background: #3cb371;
	display: flex;
	flex-direction: column;
	padding: 25px 20px 80px 20px;
	position: fixed;
	animation: animate2 1s forwards;
	div {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	> span {
		display: inline-block;
		color: #fff;
		font-family: 'Muli', sans-serif;
		font-size: 14pt;
		margin: 10px 4px;
	}
}
.divHeaderAnimate {
	animation: animate1 1s forwards;
}
.titleListas {
	color: #fff;
	font-size: 22pt;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.iconHeader {
	color: #fff;
	font-size: 24pt;
}
.iconHeaderHidden {
	font-size: 24pt;
	opacity: 0;
}
.listas {
	position: relative;
	top: 100px;
	margin: 0 20px 30px 20px;
}
@keyframes animate1 {
	0% {
		padding: 25px 20px 80px 20px;
	}
	100% {
		padding: 35px 30px 120px 30px;
	}
}
@keyframes animate2 {
	0% {
		padding: 35px 30px 120px 30px;

	}
	100% {
		padding: 25px 20px 80px 20px;

	}
}
