* {
    box-sizing: border-box;
}
.divHeader {
    width: 100%;
    height: 20%;
    background: #28A956;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}
.titleListas {
    color: #fff;
    font-size: 24pt;
	font-family: 'Work Sans', sans-serif;
	/* font-family: 'Montserrat Alternates'; */
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.iconHeader {
    color: #fff;
    font-size: 24pt;
}
.listas {
    position: relative;
    top: -50px;
    margin: 0 20px 0 20px;
}
